.filtered-list-item {
  margin-left: 25%;
  margin-right: 20%;
}
@media (max-width: 481px) {
  .filtered-list-item {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.filtered-list-item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding-right: 3%;
  border-bottom: 0.3px solid #64748b;
}
.filtered-state-name {
  color: #64748b;
}
.state-code-right-arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.state-code-right-arrow-container-inside {
  display: flex;
  align-items: center;
  background: rgba(28, 212, 212, 0.16);
  color: yellow;
  border-radius: 4px;
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
}
.state-code {
  margin-right: 8px;
}
